@media screen and (max-width: 1200px) {
    .container {
        padding: 0 20px;
    }

    .info {
        margin: 80px 100px;
    }

    .header__nav-list {
        gap: 40px;
    }

    .header__nav-add {
        gap: 60px;
    }
}

@media screen and (max-width: 992px) {
    .banner__title {
        font-size: 100px;
    }

    .info {
        margin: 60px 50px;
    }

    .banner {
        height: 600px;
    }

    .first {
        gap: 20px;
    }

    .header__nav-list {
        gap: 20px;
    }

    .header__nav-add {
        gap: 30px;
    }
}

@media screen and (max-width: 768px) {
    .header__nav {
        flex-direction: column;
        gap: 20px;
    }

    .header__nav-list {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .banner__title {
        font-size: 60px;
    }

    .banner__link {
        font-size: 18px;
        max-width: 200px;
    }

    .info {
        margin: 50px 20px;
    }

    .info__title, .collection__title {
        font-size: 32px;
    }

    .first {
        flex-direction: column;
        text-align: center;
    }

    .first__left, .first__right {
        max-width: 100%;
    }

    .first__right img {
        width: 100%;
        height: auto;
    }

    .info__p, .first__p {
        font-size: 16px;
    }
    
    .collection__link {
        margin-top: 40px;
    }
}

@media screen and (max-width: 576px) {
    .banner__title {
        font-size: 40px;
    }

    .banner {
        height: 400px;
    }

    .info__title, .collection__title {
        font-size: 28px;
        margin-bottom: 30px;
    }

    .first__title {
        font-size: 24px;
    }

    .collection__link {
        font-size: 18px;
        padding: 12px;
        height: auto;
    }
}
