@import url(./fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    text-decoration: none;
    list-style: none
}




.header {
    padding: 30px 0;
    background: #2D2D2D;
}

body {
    background: #F0F0F0;

}


.container {
    max-width: 1140px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2D2D2D;
}

.header__nav-list {
    display: flex;
    align-items: center;
    gap: 80px;
}

.header__nav-list_item-link {
    color: #FfFfFf;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.header__nav-add {
        display: flex;
        align-items: center;
    gap: 120px;
}

.banner {
    background: url(../img/bg.png) no-repeat center bottom / cover;
    height: 748px;
}


.banner__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.banner__title {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 140px;
    color: #FFFFFF;


}

.banner__link {
    display: inline-block;
    max-width: 265px;
    width: 100%;
    padding: 18px;
    background: #FFFFFF;
    font-family: "Quicksand", sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: #141414;
    border-radius: 4px;
    transition: 0.3ms;
    text-align: center;
    gap: 100px;

}

.info {
    background: #F0F0F0;
    margin: 100px 338px 100px 339px;
}

.collection {
    background: #f0f0f0;
}

.container .info__wrap {
    display: flex;
    justify-content: flex-start;
    align-items:start;
    gap: 30px;

}

.info__title {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #303030;
    text-align: center;
    margin-bottom: 40px;
}



.info__p {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #303030;
    max-width: 924px;
    width: 100%;
    
}

.collection__title {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #303030;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 100px;
}

.first__title {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #303030;
    text-align: center;
    margin-bottom: 40px;

}

.first__p {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #303030;
    text-align: center;

}

.collection__link {
    display: inline-block;
    max-width: 160px;
    width: 100%;
    padding: 18px;
    background: #303030;
    font-family: "Quicksand", sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: #FFFFFF;
    border-radius: 12px;
    transition: 0.3ms;
    text-align: center;
    height: 75px;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 100px;

}

.first__right {
    max-width: 555px;
    width: 100%;
}
.first__left {
    max-width: 556px;
    width: 100%;
}



.collection__link {
    margin-top: 80px;
}

.footer {
    padding: 10px 0;
    background: #2D2D2D;
    padding: 100px 0;
    margin-top: 129px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}